{% extends 'basketapp/base.html' %}
{% load static %} 
{% block content %} 
<div class="basket_list"> 
    {% include 'basketapp/includes/inc_basket_list.html' %}
    {% if basket.quantity %}
    <div class = 'create-button'>
        <a href="{% url 'orders:create' %}" 
        class="
        pure-button pure-button-secondary
        {% if not user.basket.can_create_order %}
        pure-button-disabled
        {% endif %}
        "> 
            создать заказ 
        </a>
    </div>
    {% endif%}
</div> 
{% endblock %}
