{% extends 'ordershop/base.html' %}

{% block js %}
<script type="text/javascript">
    $(function() {
        $('#order-form fieldset').formset({
            'addText': 'Добавить',
            'deleteText': 'Удалить',
            'addCssClass': "pure-button pure-button-primary",
            'deleteCssClass': "pure-button pure-button-primary",
        })
    })

</script>
{% endblock %}
{% block content %}

<form id='order-form' class="pure-form" action="{% url 'orders:update' object.pk %}" method="post">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {{ orderitems.management_form }}
    {% for item_form in orderitems %}
    <fieldset>
        {% for field in item_form %}
            {% if field.name == 'product_price' or field.name == 'summary' %}
                {% if field.value != None %}
                    <span>{{ field.label }}: {{ field.value }}</span>
                {% endif %}
            {% else %}
                {% if not field.is_hidden %}
                <span>{{ field.label }}:</span>
                {% endif %}
                {{ field }}
            {% endif %}
        {% endfor %}
    </fieldset>
    {% endfor %}
    <input class="pure-button pure-button-primary" type="submit" value='сохранить'>
</form>
{% endblock %}
