<div class="header clearfix">
    <a href="{% url 'index' %}" class="logo"></a>
    <ul class="menu">
        {% with url_name=request.resolver_match.url_name %}
        {% for link, name in menu.items %}
        <li><a href="{% url link %}" class="{% if url_name == name %} active {% endif %}"">{{ name }}</a></li>
        {% endfor %}>
        {% endwith %}
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'auth:edit' %}">{{ user.username }}</a></li>
            <li><a href="{% url 'basket:view' %}">Корзина({{ request.user.basket.all|length }})</a></li>
            <li><a href="{% url 'auth:logout' %}">Выйти</a></li>
        {% else %}
            <li><a href="{% url 'auth:login' %}">Войти</a></li>
            <li><a href="{% url 'auth:register' %}">Регистрация</a></li>
        {% endif %}
    </ul>
    <a href="#" class="search"></a>
</div>
