<!DOCTYPE html>
{% load static %}
{% load my_tags %}
<html> 
<head>
    <metacharset="utf-8"> 
    <title>
        {% block title %}
            {{ title|stars }} 
        {% endblock %} 
    </title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'pure-min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin-styles.css' %}">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
    <div class="content">
        <a class="pure-button pure-button-secondary" href="{% url 'index' %}">На главную</a>
        <a class="pure-button pure-button-secondary" href="{% url 'admin:users' %}">пользователи</a>
        <a class="pure-button pure-button-secondary" href="{% url 'admin:categories' %}">категории</a>
       
        <h2>{{ title }}</h2>
        
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>