{% extends 'adminapp/base.html' %}
{% load static %} 
{% block content %}
<div class='create-button'>
    <a href="{% url 'admin:create_product' category.pk %}" class="pure-button pure-button-secondary"> 
        создать продукт 
    </a>
</div> 
<table class="pure-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for product in object_list %}
        <tr class="{% if not product.is_active %}inactive{% endif %}">
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.quantity }}</td>
            <td>
                <a href="{% url 'admin:update_product' product.pk %}" class="pure-button pure-button-secondary"> 
                    редактировать 
                </a> 
            </td>
            <td>
                <a href="{% url 'admin:delete_product' product.pk %}" class="pure-button pure-button-secondary"> 
                    удалить 
                </a>
            </td>
        </tr>
        {% endfor %} 
    </tbody>
</table>

{% endblock %} 
