{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="hero-white">
	{% include 'mainapp/includes/main_menu_inc.html' %}
</div>

<div class="details">
	<div class="links clearfix">
		{% include 'mainapp/includes/categories_menu_inc.html' %}
	</div>

	<div class="category-products related">
		<div class="title clearfix">
			<h2>{{ category.name }}</h2>
				{% if products.has_previous %}
				<a class="explore" href="{% url 'category' category.id products.previous_page_number %}">
				предыдущая страница
				</a>
				{% endif %}
				{% if products.has_next %}
				<a class="explore" href="{% url 'category' category.id products.next_page_number %}">
				следующая страница
				</a>
				{% endif %}
		</div>
		<div class="related-products clearfix">
			{% include 'mainapp/includes/product_list_inc.html' %}
		</div>
	</div>
</div>
{% endblock %}	
