{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
<div class="hero-white">
	{% include 'mainapp/includes/main_menu_inc.html' %}
</div>

<div class="details">
	<div class="links clearfix">
		{% include 'mainapp/includes/categories_menu_inc.html' %}
	</div>

	<div class="details-products">
		<div class="details-slider">
			<div class="slider-product">
				<img src="{{ product.image.url }}">
			</div>
			<div class="slider-control">
				<div class="block">
					<a href="#"><img src="{{ product.image.url }}" alt="">
						<div class="text"></div>
					</a>
				</div>
				<div class="block">
					<a href="#"><img src="{{ product.image.url }}" alt="">
						<div class="text"></div>
					</a>
				</div>
				<div class="block">
					<a href="#"><img src="{{ product.image.url }}" alt="">
						<div class="text"></div>
					</a>
				</div>
			</div>
		</div>

		<div class="description">
			<h3 class="big-bold">{{ product.name }}</h3>
			<p class="price">{{ product.price }}<span>руб</span></p>
			<a href="{% url 'basket:add' product.pk %}" 
			class="red-button {% disabled_if_cannot_buy user product %}">
				заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
			</a>
			<div class="description-text">
				<p>{{ product.description | linebreaks }}</p> 
			</div>
		</div>
	</div>
</div>
{% endblock %}	
